/*elements*/
html body{margin:0!important;}
fieldset{margin:1rem 4rem 1rem;background-color:#FFF;border:2px solid #000}
legend{font-size:1.25em;font-weight:100;background-color:#fff;border-radius:8px;padding:0px 24px 3px 6px;color:#000;border:2px solid #000;text-shadow:1px 1px silver;}
input,select,textarea,button{font-family:inherit;font-size:inherit;background-color:silver;margin:4px;padding-top:2px;border:none;border-bottom:solid 3px #000;vertical-align:top;}
button{height:27px;}
select{width:184px;height:27px;padding:2px 6px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.selArrowsBlack{background-image:url("../images/double-down-arrow-black.png");background-size:.75em;background-position:calc(100% - .5em)center;background-repeat:no-repeat;}
.selArrowsWhite{background-image:url("../images/double-down-arrow-white.png");background-size:.75em;background-position:calc(100% - .5em)center;background-repeat:no-repeat;}

/*ids*/
#app{margin:0;padding-bottom:4rem;background:url("../images/numbers-bg-1920.jpg")top/45% repeat;}

/*classes*/
.copyright {font-size:80%; color:white;padding-bottom:1em;}
.trans-top,.trans-bottom{height:30px;margin-top:0rem;}
.trans-top{background:linear-gradient(180deg,rgba(0,0,0,1)0%,rgba(0,212,255,0)100%);}
.trans-bottom{background:linear-gradient(0deg,rgba(0,0,0,1)0%,rgba(0,212,255,0)100%);}
.ops-container{display:inline-block;width:100%;}
.right{float:right;}
.left{float:left;}
.grid{display:flex;flex-wrap:wrap;flex-flow:row wrap;justify-content:center;align-items:center;}
.grid-item{display:flex;align-items:center;justify-content:space-around;margin:4px;border:2px solid #000;border-radius:8px;text-align:center;height:60px;flex-basis:9%;}

/*queries*/
@media(max-width:1047px){.grid-item{flex-basis:8.5%;height:45px}.left{float:none;}.right{float:none;}button,select{width:100%!important;text-align:left;}}        
@media(max-width:714px){.grid-item{flex-basis:8%;height:30px;font-size:x-small!important}h1{margin:0.5rem 0 3.5rem 0;font-size:2rem;padding:0}fieldset{margin:0 .5rem 1rem;}.breadcrumbs {margin: 0 0 .5rem 0.75rem}.bc-div{margin:-3.5rem 8px 0 8px;}#logo{margin-top:-3rem;}.trans-top{margin-top:0}}
@media(max-width:547px){.grid-item{flex-basis:7.5%;}}        
@media(max-width:447px){.grid-item{flex-basis:14.5%;}}