<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Vue JS Number Grid</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">   
    <link href="/projects/css/reset.css" rel="stylesheet">   
    <link href="css/local-styles.css" rel="stylesheet">   
</head>
<body>
    <header>
        <h1>Number Grid Manipulator</h1>
    </header>
    <div id="app">
        <fieldset>
            <legend>Operations</legend> 
            <div class="ops-container">          
            <div class="left">
                <button @click="showPrimes()">Primes</button>      
                <button @click="showFibos(10)">Fibonacci's</button>      
                <button @click="showOrdinals()">Ordinals</button>      
                <button @click="showRoman()">Roman</button>  
                <select name="sequence" id="sequence" @change="showSequence()" v-model="sequence">
                    <option value="0">Sequence</option>
                    <option v-for="i in 10" :key="i">{{i}}</option>
                </select>   
            </div>
            <div class="right"><button @click="reset()">Reset</button></div>
        </fieldset>
        <div id="grid">
            <div>
                <fieldset>
                    <legend>Grid</legend>     
                    <div class="row grid">
                        <div v-for="number in gridNum" class="col-sm-1 offset-sm-1 grid-item" :style="{backgroundColor: number.hilite ? 'orange' : '#fff'}">{{ number.id }}</div>
                    </div>
                </fieldset>   
            </div> 
        </div>
    </div>
</body>
</html>